section {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(5, 1fr);
}

div {
    border: solid 1px black;
    background-color: whitesmoke;
    opacity: 0.7;
    padding: 2px;
}

body {
    display: grid;
    place-content: center;
    background-image: url("Pokerbord.webp");
    background-size:cover;
}

#terningene {
    visibility: hidden;
}
img{
    width: 70px;
}
.bilder {
    border: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

#imgBilde1, #imgBilde2, #imgBilde3, #imgBilde4, #imgBilde5  {
    padding: 10px;
}

.rad7, .rad18 {
    font-weight: 700;
}

#kastTerning, #spillernavn{
    margin-left: 60px;
    background-color: whitesmoke;
    opacity: 0.7;
    margin-top: 1px;
    border: solid 1px #333; 
    width: 300px;
    padding: 20px;
    text-align: center;
}